body, html {
    margin: 100px;
    padding: 0;
    height: 100%; 
}

.container {
    display: flex;          
    justify-content: center; 
    align-items: center;    
    height: 100px;           
}

img {
    max-width: 100%;  
    height: auto;     
}
